<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">

  <!-- Brand -->
  <a routerLink="/" class="navbar-brand">
    <img src="assets/himmel-agencia-digital-150x60.png"/>
  </a>



  <!-- Sidenav toggle -->
  <div class="navbar-nav align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <div class="navbar-nav align-items-lg-center">
      <!-- <div class="nav-item"><a class="nav-link" href="#">Link 1</a></div>
      <div class="nav-item"><a class="nav-link" href="#">Link 2</a></div> -->
    </div>
  </div>

</nav>
