<sidenav [orientation]="orientation" [ngClass]="getClasses()">
  <!-- Inner -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">

    <sidenav-router-link icon="ion ion-ios-home" route="/" [active]="isActive('/')">Inicio</sidenav-router-link>
    <sidenav-router-link icon="ion ion-ios-cellular" route="/page-2" [active]="isActive('/page-2')">Servicios</sidenav-router-link>
    <sidenav-router-link icon="ion ion-ios-code-working" route="/page-2" [active]="isActive('/page-2')">Tu sitio</sidenav-router-link>
    <sidenav-router-link icon="ion ion-ios-contacts" route="/page-2" [active]="isActive('/page-2')">Clientes</sidenav-router-link>
    <sidenav-router-link icon="ion ion-ios-mail-open" route="/page-2" [active]="isActive('/page-2')">Contacto</sidenav-router-link>

  </div>
</sidenav>
