
html.layout-collapsed .btn-rounded {
    width: 60px;
    height: 60px;
    border: initial !important;
    margin: 12% 12% 20% 12%;
}

.bg-sidenav-theme .sidenav-inner{margin-top:-5px;}
.layout-sidenav .bg-sidenav-theme.sidenav-vertical .sidenav-item a.sidenav-link.sidenav-enlace
{
  color:#fff!important;  

}
.btn-rounded {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    background-color: #FF1A6D !important;
    margin: 10% 37%;
}

.bg-sidenav-theme.sidenav-vertical {
    background-color: #af1064 !important;
    color: #ffffff;
}

i.ion.ion-md-menu.text-large {
    margin: 10px 0 0 1px !important;
}

.bg-sidenav-theme .sidenav-link {
    color: #fff !important;
    font-size: 1.1rem;
}

.bg-sidenav-theme .sidenav-link:hover {
    background-color: #383c44 !important;
    color: #fff !important;
}