<div class="layout-wrapper layout-1" [ngClass]="{'layout-loading': !initialized}">
  <div class="layout-inner">
    <!-- <app-layout-navbar></app-layout-navbar> -->

    <div class="layout-container">
      <!-- <app-layout-sidenav></app-layout-sidenav> -->

      <div class="layout-content">
        <div class="container-fluid brand-strategying router-transitions flex-grow-1 container-p-y">
        <!-- <div class="glitch" data-text="HIMMEL">HIMMEL</div> -->
        <section class="cd-intro">
          <div class="cd-intro-content mask">
              <img class="logo-splash" src="assets/splash-logo.png"/>

            <h1 data-content="Portal Operativo"><span>Portal Operativo</span></h1>
            <div class="action-wrapper">
              <p>
                <a href="#" class="cd-btn main-action">Iniciar sesión</a>
                <!-- <a href="#0" class="cd-btn">Learn More</a> -->
              </p>
            </div>
          </div>
        </section>

          <router-outlet></router-outlet>
        </div>

        <app-layout-footer></app-layout-footer>
      </div>
    </div>
  </div>
</div>
<div class="layout-overlay" (click)="closeSidenav()"></div>



