<nav class="footer" [ngClass]="currentBg()">
  <div class="container-fluid container-p-x pb-3">
    <a href="https://www.strategying.com" target="_blank" class="footer-link pt-3">© {{yearcopy}} Strategying, S.A.</a>
  </div>
</nav>
